@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kosugi+Maru&family=Mochiy+Pop+One&family=Yomogi&family=Yrsa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

a {
    color: #66402B;
}

a:hover {
    color: #FFC276
}

.alert-main {
    background-color: #FFECD3;
    color: #66402B;
}

.btn {
    color: #66402B;
}

.btn:hover {
    color: #66402B;
}

.bg-main {
    background-color: #66402B;
    color: white;
}

.navbar-brand {
    font-family: 'Yomogi';
    letter-spacing: 2px;
    font-weight: 800;
    color: #66402B;
}

.navbar-brand:hover {
    color: #66402B;
}

.navbar {
    color: white;
    background-color: #FFC276;

}

.form-control {
    border: 1px solid #66402B;
}

.navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #FFC276;
    color: #66402B;
}

.dropdown-item {
    color: #66402B;
    background-color: #FFC276;
}
.dropdown-menu {
    min-width:inherit;
  }

.nav-link {
    color: #66402B;
}

.nav-link:hover {
    color: white;
}

.main-btns {
    background-color: #FFC276;
    border: 1px solid #FFECD3;
}


.main-btns:hover {
    background-color: white;
    border-color: 1px solid #FFC276;
    color: #FFC276;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-accent-bg: #FFFAEC;
}

.ol-list {
    font-size: 14px;
    font-style: italic;
}

.table {
    border-color: #66402B;
}

#uploaded_image {
    height: 200px;
    object-fit: cover;
}

.search-box {
    border: 1px solid #66402B;
    border-radius: 0.35rem;
    /* background-color: #FFFAEC; */
}

.delete-btn {
    background: transparent;
}

.edit-btn {
    background: transparent;
}

.med-badge {
    background-color: transparent;
    color: #66402B;
    border: 1px solid #66402B;
}

.reset,
.search {
    background-color: #FFECD3;
    color: #66402B;
}

.reset:hover,
.search:hover {
    background-color: white;
    color: #66402B;
}

.display-image {
    height: 100px;
    width: 100px;
    object-fit: contain;
    border: 1px solid black;
    border-radius: 0.35rem;
}

.italicize {
    font-style: italic;
    font-size: 14px
}

.product-description {
    font-size: 12px;
}

.fix-size {
    height: 60vh;
    width: 60vw;
    border: 1px solid black;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.635);
}

.profile-icon {
    font-size: 40px;
}

.main-cont {
    height: 90vh;
}

.login-img {
    width: 100vw;
    height: 92vh;
    object-fit: cover;
}

.sold-out {
    background-color: rgba(250, 171, 171, 0.349);
}