.login-box {
    height: 60vh;
    width: 60vw;
    border: 1px solid black;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.638);
    justify-content: center;
    left: 20vw;
    top: 20vh;
}

.wrapper {
    left: 0px;
    padding: 0px;
    margin: 0px;
    position: relative;
    top: 0px;
    display: flex;
}

form {
    bottom: 10px;
}

.login-img {
    width: 100vw;
    height: 92vh;
    object-fit: cover;
}

.form-control {
    text-align: center;
}