.fix-size{
    height: 40vh;
    width: 500px;
    bottom: 25vh;
    left: 31vw;
    border: 1px solid black;
    position: absolute
}

.profile-icon{
    font-size: 40px;
}

/* .profile-content{
} */