{{#extends 'base'}}
{{#block 'content'}}
<div class="container">
    <form method="POST">
        {{{form}}}
        <input type="submit" class="btn btn-primary" value="update status"/>
    </form>
</div>
{{/block}}
{{/extends}}